extends layout

block content
  h1 Calculation App
  p.lead An application to calculate the sum of the longest path in a binary tree.
  hr
  .row
    .col-md-6
      h2 Enter Values to form binary tree
      input.form-control(type='text', name='valuesEntry', id='valuesEntry')
      button.btn.btn-primary(type='submit' id="submitValues" onclick="enterValues(this);")
          
          | Enter
    
      label(class='col-md-2 col-form-label font-weight-bold', for='name' id='valuesLabel') 

    //- .col-md-6
    //-   h2 Enter BinaryTree Root Node
    //-   input.form-control(type='file', name='rootNode', id='rootNode')
    //-   button.btn.btn-primary(type='submit' onclick="enterRootNode(this);")
          
    //-       | Enter
  .row
    .col-md-12
      h2 Sum of the longest path is:
      button.btn.btn-primary(type='submit' onclick="generateSum();")
          | GenerateSum
      label(class='col-md-2 col-form-label font-weight-bold', for='name' id='longestPathSum')
      input(type='hidden', name='_csrf', value=_csrf) 

      //- script
      //-    include api/script.js